<!-- Footer -->


<footer style="background-color: #F8F9FA;">
    <h1 class="text-center p-3 fs-2">Nguyễn Chí Thuận</h1>
</footer>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>