<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <h1 class="text-center my-5">Danh sách sản phẩm</h1>
    <a href="/addScreen">Thêm sản phẩm mới</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tên sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tuỳ chọn</th>
        </tr>
      </thead>
      <tbody>
        {{!-- {{#each products}}
        <tr>
					<td>{{}}</td>
                    <td>{{tuoi}} VND</td>
					<td>{{diachi}}</td>
					<td><a href="/updateScreen/{{_id}}" class="btn btn-primary btn-sm">Sửa</a>
            <a href="/delete/{{_id}}" onclick='return confirm("Bạn muốn xoá sản phẩm?")' class="btn btn-danger btn-sm">Xoá</a></td>
				</tr>
        {{/each}} --}}
      </tbody>
    </table>


    

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
</body>
</html>
